<!DOCTYPE html>
<html>
    <head>
        <title>Edit Page</title>
     

    </head>
    <body>
        <h2> You are about to edit this user</h2>

        <h1>Edit your post </h1>
        <h2>User email: <%=data.email %></h2>
        
        <form method="post" action="/user/<%=data.id%>?_method=PATCH">

            <textarea placeholder="Edit your username" name="name"> <%=data.name %></textarea>
            <input type="password" name="password" placeholder="Enter password">
            <button>Submit</button>
        </form>
        


        






    </body>
</html>