<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
     

    </head>
    <body>
        <h2>The numbers of user are: <%= count %></h2>

        <form method="get" action="/user/new">
            <button> JOIN US TODAY !!</button>

        </form>

        





    </body>
</html>