<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
     

    </head>
    <body>
        <h2>The numbers of user are: <%= count %></h2>

        <button> JOIN US TODAY !!</button>





    </body>
</html>