<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
     

    </head>
    <body>
        <h2>Hello new User !!</h2>

        <h3>Please enter your information </h3>

        <form method="post" action="/user">
            <input placeholder="Enter your name" name="name">
            <br>
            <br>
            <input placeholder="Enter your emailId" name="email">
            <br>
            <br>
            <input placeholder="Enter your password" name="password">
            <br>
            <br>
            <button> submit</button>

        </form>

        





    </body>
</html>